<div class="main-avatar">
  <div class="avatar-info">
    <p class="img"><img src="{{userHeadImg}}"></p>
    <!-- {{userHeadImg}} -->
    <span>{{userNickName}}</span>
    <p>
      <span (click)="openPost()"><b>{{questionLength}}</b><span>帖子</span></span>
      <span (click)="openAttend()"><b>{{followLength}}</b><span>关注</span></span>
      <span (click)="openFan()"><b>{{followedLength}}</b><span>粉丝</span>
      </span>
    </p>
  </div>
</div>

<div class="main-avatar">
  <div class="avatar-link">
    <h4>最新推荐</h4>
    <ul>
      <li *ngFor="let item of questionListRecord" (click)="positionQuestionDetail(item.queId, item.userId)">{{item.queTitle}}</li>
    </ul>
  </div>
</div>

<!-- 帖子 -->
<nz-modal [(nzVisible)]="isVisiblePost" nzTitle="发表的帖子" (nzOnCancel)="cancelPost()" (nzOnOk)="handlePost()">
  <div class="post-model1">
    <ul>
      <li *ngFor="let item of questionList">
        <span (click)="positionQuestion(item)">{{item.title}}</span>
        <span class="time">{{item.createTime}}</span>
        <span><i nz-icon type="delete" theme="outline" (click)="deleteQuestion(item)"></i></span>
      </li>
    </ul>
  </div>
</nz-modal>

<!-- 关注 -->
<nz-modal [(nzVisible)]="isVisibleAttend" nzTitle="我关注的" (nzOnCancel)="cancelAttend()" (nzOnOk)="handleAttend()">
  <div class="fan-model">
    <table>
      <tr *ngFor="let item of followList">
        <td width="60" (click)="getPersonPage(item, 'focus')"><img src="{{item.headImg}}"></td>
        <td width="300" (click)="getPersonPage(item, 'focus')">{{item.nickName}}</td>
        <td><span (click)="getFouce(item, 'unfouce')"><i nz-icon type="user-delete" theme="outline" style="margin-right:5px;"></i>取消关注</span></td>
      </tr>
    </table>
  </div>
</nz-modal>

<!-- 粉丝 -->
<nz-modal [(nzVisible)]="isVisibleFan" nzTitle="关注我的" (nzOnCancel)="cancelFan()" (nzOnOk)="handleFan()">
  <div class="fan-model">
    <table>
      <tr *ngFor="let item of followedList">
        <td width="60" (click)="getPersonPage(item, 'unfocus')"><img src="{{item.headImg}}"></td>
        <td width="300" (click)="getPersonPage(item, 'unfocus')">{{item.nickName}}</td>
        <td><span (click)="getFouce(item, 'fouce')"><i nz-icon type="user-add" theme="outline" style="margin-right:5px;"></i>关注</span></td>
      </tr>
    </table>
  </div>
</nz-modal>