<div class="footer">
  <div class="attendance-foot-nav">
    <ul>
      <li><a routerLink="/home">主页</a></li>
      <li><a routerLink="/leave">新建请假</a></li>
      <li><a routerLink="/home">考勤记录</a></li>
      <li><a routerLink="/account">账户管理</a></li>
    </ul>
  </div>
  <div class="attendance-foot-phone">
      <div>
        <img src="../../assets/image/phone_1.png" />
      </div>
      <div>
        <h4>友情链接</h4>
        <div>
          <a href="">教务系统</a>
          <a href="">教务系统</a>
          <a href="">教务系统</a>
          <a href="">教务系统</a>
          <a href="">教务系统</a>
          <a href="">教务系统</a>
          <a href="">教务系统</a>
          <a href="">教务系统</a>
        </div>
      </div>
  </div>
  <div class="attendance-foot-copy">
      &copy;西安市雁塔区科技6路1号-西安文理学院-信息工程学院-2015级软件工程3班 
  </div>
</div>
