<div class="header">
    <div class="attendance-logo">
        <h3>学生考勤管理系统</h3>
        <p>
            <a>{{name}}</a>
            <a>{{id}}</a>
            <a (click)="drop()">退出系统</a>
        </p>
    </div>
    <div class="attendance-nav">
        <ul *ngIf="type == 'student'" id="navigation">
            <li><a routerLink="/home">主页</a></li>
            <li><a routerLink="/leave">新建请假</a></li>
            <li><a routerLink="/detail">请假详情</a></li>
            <li><a routerLink="/account">账户管理</a></li>
        </ul>
        <ul *ngIf="type == 'teacher'" id="navigation">
            <li><a routerLink="/home">主页</a></li>
            <li><a routerLink="/check">签到管理</a></li>
            <li><a routerLink="/detail">请假详情</a></li>
            <li><a routerLink="/account">账户管理</a></li>
        </ul>
    </div>
</div>