<app-header (search)="getSearchValue($event)"></app-header>
<div style="background: rgba(243, 242, 242);">
    <div class="container">
      <div class="main">
        <app-nav (nav)="getNavValue($event)" *ngIf="loginFlag == 'true'"></app-nav>
        <div class="main-body" [ngStyle]="{'width': loginFlag === 'true' ? '60%' : '100%'}">
          <div class="main-admin">
            <ul>
              <li *ngFor="let item of adminQuestionList;index as i;" (click)="positionQuestion(item)">
                <p class="text-title"><span style="margin-right: 10px;">{{item.queTitle}}</span><i style="color: #ccc;">{{item.createTime}}</i></p>
                <p style="padding-left: 15px;color: #999;">{{item.queDetail}}</p>
              </li>
            </ul>
          </div>
          <div class="main-post">
            <h4>推荐关注</h4>
            <ul>
              <li *ngFor="let item of userQuestionList" (click)="positionQuestion(item)">
                  <div class="main-post-title">
                    <span>{{item.queTitle}}</span><i>{{item.createTime}}</i>
                  </div>
                  <p>{{item.queDetail}}</p>
                  <div class="main-post-number">
                    <span>点击量 <i>{{item.clickCount}}</i></span>
                    <span>点赞数 <i>{{item.praiseCount}}</i></span>
                  </div>
              </li>
            </ul>
          </div>
        </div>
        <app-avatar *ngIf="loginFlag == 'true'"></app-avatar>
      </div>
      <app-footer></app-footer>
    </div>
</div>
