<app-header></app-header>
<div style="background: rgba(243, 242, 242);">
    <div class="container">
      <div class="main">
        <app-nav></app-nav>
        <div class="main-body">
          <div class="main-admin">
            <ul>
              <li style="border-bottom: 1px solid #eee;padding: 5px;"><a href="">
                <p class="text-title"><span style="margin-right: 10px;">帖子标题</span><i style="color: #ccc;">2018-12-12 12:00:00</i></p>
                <p style="padding-left: 15px;color: #999;">帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内容</p>
              </a></li>
            </ul>
            <div id="myCarousel" class="carousel slide">
              <!-- 轮播（Carousel）指标 -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>   
              <!-- 轮播（Carousel）项目 -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="../../assets/image/lun01.jpg" alt="First slide">
                  <div class="carousel-caption">标题 1</div>
                </div>
                <div class="item">
                  <img src="../../assets/image/lun02.jpg" alt="Second slide">
                  <div class="carousel-caption">标题 2</div>
                </div>
                <div class="item">
                  <img src="../../assets/image/lun03.jpg" alt="Third slide">
                  <div class="carousel-caption">标题 3</div>
                </div>
              </div>
              <!-- 轮播（Carousel）导航 -->
              <a class="left carousel-control" href="" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
            </div> 


            
          </div>
          <div class="main-post">
            <h4>推荐关注</h4>
            <table>
              <tr><a href="">
                <td>
                  <img src="../../assets/image/stu002.jpg"><br>
                  <span>昵称</span>
                </td>
                <td>
                  <h5>帖子标题标题标题</h5>
                  <i>2018-12-12</i>
                  <p>帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内</p>
                </td>
              </a></tr>
            </table>
          </div>
        </div>
        <app-avatar></app-avatar>
      </div>
      <app-footer></app-footer>
    </div>
</div>
