<app-header></app-header>
<div style="background: rgba(243, 242, 242);">
    <div class="container">
      <div class="main">
        <app-nav></app-nav>
        <div class="main-body">
          <div class="main-admin">
            <ul>
              <li style="border-bottom: 1px solid #eee;padding: 5px;"><a href="">
                <p class="text-title"><span style="margin-right: 10px;">帖子标题</span><i style="color: #ccc;">2018-12-12 12:00:00</i></p>
                <p style="padding-left: 15px;color: #999;">帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内容</p>
              </a></li>
            </ul>
          </div>
          <div class="main-post">
            <h4>推荐关注</h4>
            <table>
              <tr><a href="">
                <td>
                  <img src="../../assets/image/stu002.jpg"><br>
                  <span>昵称</span>
                </td>
                <td>
                  <h5>帖子标题标题标题</h5>
                  <i>2018-12-12</i>
                  <p>帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内容帖子内容内</p>
                </td>
              </a></tr>
            </table>
          </div>
        </div>
        <app-avatar></app-avatar>
      </div>
      <app-footer></app-footer>
    </div>
</div>
