<div class="attendance-login">
    <div class="login-lk">
        <h3>学生考勤管理系统</h3>
        <div class="login-form">
            <table>
                <tr>
                    <td><nz-form-label>学号</nz-form-label></td>
                    <td><input nz-input placeholder="学号"  [(ngModel)]="user.account"></td>
                </tr>
                <tr>
                    <td><nz-form-label >密码</nz-form-label></td>
                    <td><input nz-input placeholder="密码" type="password" [(ngModel)]="user.password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: center;"><nz-radio-group [(ngModel)]="user.type">
                        <label nz-radio nzValue="student">学生</label>
                        <label nz-radio nzValue="teacher">老师</label>
                    </nz-radio-group></td>
                </tr>
            </table>
            <button nz-button (click)="login()" nzType="primary">登录</button>
        </div>
    </div>
</div>