<app-header></app-header>
<div style="background: rgba(243, 242, 242);">
    <div class="container">
      <div class="main">
        <div class="main-body">
          <div class="person-page">
            <!-- 用户信息 -->
            <div class="person-page-header">
              <div>
                  <p class="nickName"><img src="{{userHeadImg}}"><span>{{userNickName}}</span></p>
                  <p><span>{{userAutograph}}</span></p>
              </div>
              <div class="person-page-header-follow" *ngIf=" userFocus == 'unfocus' ">
                  <span><i nz-icon type="user-add" theme="outline" style="margin-right:5px;" (click)="getFouce(item, 'fouce')"></i>关注</span>
              </div>
            </div>
             <!-- 用户信息 end-->

             <!-- 帖子 -->
            <div class="person-page-moment">
              <div *ngIf="userQuestionFlag">
                  <div *ngFor="let question of userQuestionList">
                      
                    <!-- 帖子标题 -->
                    <div class="moment-title" (click)="positionQuestion(question)">
                      <h5>{{question.title}}</h5>
                      <span>创建时间: <i>{{question.createTime}}</i></span>
                    </div>
                    <!-- 帖子标题 end -->
    
                    <!-- 帖子内容 -->
                    <p class="moment-content scrollbar" style="max-height: 260px; overflow-y: auto;"  (click)="positionQuestion(question)">
                      {{question.detail}}
                    </p>
                    <!-- 帖子内容 end -->
    
                    <!-- 点赞评论信息 -->
                    <p class="moment-icon">
                      <span><i nz-icon type="message" theme="outline"></i><span>{{question.Praise}}</span></span>
                      <span><i nz-icon type="heart" theme="outline"></i><span>{{question.reply}}</span></span>
                    </p>
                    <!-- 点赞评论信息 end -->
    
                  </div>
              </div>
              
              <!-- 暂无数据 -->
              <div *ngIf="!userQuestionFlag">
                <p class="question-none">这位客官暂时没有发表帖子！</p>
              </div>
            </div>
            <!-- 帖子 end-->
          </div>
        </div>
        <app-avatar></app-avatar>
      </div>
      <app-footer></app-footer>
    </div>
</div>
