<app-header></app-header>
<div style="background: rgba(243, 242, 242);">
    <div class="container">
      <div class="main">
        <app-nav (nav)="getNavValue($event)" ></app-nav>
        <div class="main-body">
          <div class="post-datil">
            <h4>发表帖子</h4>
            <table>
              <tr>
                <td>标题:</td>
                <td><input nz-input placeholder="请输入帖子标题" [(ngModel)]="questionTitle"></td>
              </tr>
              <tr>
                <td>文本:</td>
                <td><textarea style="height: 400px;" rows="3" nz-input placeholder="限字数200" [(ngModel)]="questionText"></textarea></td>
              </tr>
              <tr>
                <td>类型:</td>
                <td><nz-select style="width: 300px;"  nzAllowClear nzPlaceHolder="选择课程" [(ngModel)]="questionCourse">
                  <nz-option *ngFor="let option of courseList" [nzValue]="option.value" [nzLabel]="option.value"></nz-option>
                </nz-select></td>
              </tr>
              <tr>
                <td>上传图片:</td>
                <td>
                  <nz-upload
                    class="avatar-uploader"
                    nzAction="http://127.0.0.1:8080/forum/file/upload"
                    nzName="files"
                    nzListType="picture-card"
                    [nzShowUploadList]="false"
                    [nzBeforeUpload]="beforeUpload"
                    (nzChange)="handleChange($event)"
                    style="margin-left: 40px"
                  >
                    <ng-container *ngIf="!avatarUrl">
                      <i class="upload-icon" nz-icon [type]="loading ? 'loading' : 'plus'"></i>
                      <div class="ant-upload-text">Upload</div>
                    </ng-container>
                    <img style="width: 300px;height: 300px" *ngIf="avatarUrl" [src]="avatarUrl" class="avatar" />
                  </nz-upload>
                </td>
              </tr>
            </table>
            <button nz-button nzType="primary" (click)="createQuestion()">发表</button>
          </div>
        </div>
        <app-avatar></app-avatar>
      </div>
      <app-footer></app-footer>
    </div>
</div>
