<app-header></app-header>
<div style="background: rgba(243, 242, 242);">
    <div class="container">
      <div class="main">
        <div class="main-body">
          <div class="question-content">
            <!-- 当前帖子用户信息 -->
            <div class="question-content-header">
                <img src="{{queUserHeadImg}}">
                <span>{{queUserNickName}}</span>
            </div>
            <!-- 当前帖子用户信息 end -->

            <!-- //      clickCount: 0
            //     createTime: "2019-03-07 14:24:43"
            //     praiseCount: 1
            //     queCourse: ""
            //     queDetail:
            //     queId: "1551939737000"
            // queImg: ""
            // queSummary: ""
            // queTitle: "梦"
            // replyCount: 0
            // unread: 10
            // userId: "2511150406" -->

            <!-- 帖子标题及其内容 -->
            <div class="question-content-text">
                <h5>{{question.title}} <i>{{question.time}}</i></h5>
                <p class="question-content-text2">
                    <img src="{{question.src}}" *ngIf="question.src">
                    <!-- <img src="../../assets/image/lun02.jpg" > -->
                    {{question.detail}}
                </p>
                <p class="question-content-text-icon">
                  <span (click)="showCommentReply()"><i nz-icon type="message" theme="outline"></i><span>{{question.reply}}</span></span>
                  <span (click)="getPraiseCount()"><i nz-icon type="heart" theme="outline"></i><span>{{question.praise}}</span></span>
                </p>
            </div>
            <!-- 帖子标题及其内容 end -->

            <!-- 评论回复 -->
            <div class="question-content-comment">
              <p>
                <span class="comment-user">思念</span>
                <i>:</i>
                <span class="comment-content">内容</span>
                <span>
                    <span class="comment-detele" (click)="getPraiseCount()"><i nz-icon type="heart" theme="outline"></i></span>
                    <span  (click)="showCommentReply()"><i nz-icon type="message" theme="outline"></i></span>
                    <span  (click)="deleteComment()"><i nz-icon type="delete" theme="outline"></i></span>
                </span>
              </p>
              <p>
                <span class="comment-user" (click)="showCommentReply()">思念</span>
                <span class="comment-reply">回复</span>
                <span class="comment-user" (click)="showCommentReply()">思念</span>
                <i>:</i>
                <span class="comment-content">内容</span>
                <span>
                    <span class="comment-detele" (click)="getPraiseCount()"><i nz-icon type="heart" theme="outline"></i></span>
                    <span  (click)="showCommentReply()"><i nz-icon type="message" theme="outline"></i></span>
                    <span  (click)="deleteComment()"><i nz-icon type="delete" theme="outline"></i></span>
                </span>
              </p>
            </div>
            <!-- 评论回复 end -->

            <!-- 评论框 -->
            <div class="question-content-textarea">
                <textarea rows="3" placeholder="{{queUserNickName}}@ 回复" nz-input [(ngModel)]="queContent"></textarea>
                <button nz-button nzType="primary" (click)="commentPublish()">发表</button>
            </div>
            <!-- 评论框 end -->
          </div>
        </div>
        <app-avatar></app-avatar>
      </div>
      <app-footer></app-footer>
    </div>
</div>
