<app-header></app-header>
<div style="background: rgba(243, 242, 242);">
    <div class="container">
      <div class="main">
        <app-nav (nav)="getNavValue($event)" *ngIf="loginFlag == 'true'"></app-nav>
        <div class="main-body" [ngStyle]="{'width': loginFlag === 'true' ? '60%' : '100%'}">
          <div class="view-attention">
            <div *ngFor="let questionInfo of followQuestionList">
              <!-- 关注/粉丝基本信息 -->
              <div class="attention-user">
                <div class="attention-user-avatar">
                    <img src="{{questionInfo.user.headImg}}">
                    <p class="attention-nickName">
                      <span>{{questionInfo.question.title}}</span>
                      <span>{{questionInfo.question.createTime}}</span>
                    </p>
                </div>
                <span class="attention-cancel" (click)="cancelFouce(questionInfo.user.userId)"><i nz-icon type="user-delete" theme="outline" style="margin-right:5px;"></i>取消关注</span>
              </div>
              <!-- 关注/粉丝基本信息 end -->

              <!-- 内容 -->
              <p class="attention-content">
                <!-- <img src="../../assets/image/lun01.jpg" >
                <img src="../../assets/image/test.jpg" >
                <br> -->
                {{questionInfo.question.detail}}
              </p>
              <!-- 内容  end-->

              <!-- 点赞评论 -->
              <p class="attention-icon">
                <span (click)="getPraiseCount(questionInfo.question.questionId)"><i nz-icon type="heart" theme="outline"></i><span>{{questionInfo.question.Praise}}</span></span>
                <span (click)="showCommentReply(questionInfo.question.questionId, questionInfo.user.nickname)"><i nz-icon type="message" theme="outline"></i><span>{{questionInfo.question.reply}}</span></span>
              </p>
              <!-- 点赞评论 end -->

              <!-- 评论框 -->
              <div class="question-content-textarea" *ngIf=" commentShowFlag == 'show' + questionInfo.question.questionId ">
                <textarea rows="3" placeholder="回复  {{commentUserName}}：" nz-input [(ngModel)]="queContent"></textarea>
                <button nz-button nzType="primary" (click)="commentPublish()">发表</button>
              </div>
              <!-- 评论框 end -->
            </div>
          </div>
        </div>
        <app-avatar *ngIf="loginFlag == 'true'"></app-avatar>
      </div>
      <app-footer></app-footer>
    </div>
</div>
