<app-header></app-header>
<div style="background: rgba(243, 242, 242);">
    <div class="container">
      <div class="main">
        <app-nav  *ngIf="loginFlag == 'true'"></app-nav>
        <div class="main-body" [ngStyle]="{'width': loginFlag === 'true' ? '60%' : '100%'}">
          <div class="view-attention">
            <div style="margin-bottom: 30px;">
              <div class="attention-user">
                <div class="attention-user-avatar">
                    <img src="../../assets/image/stu002.jpg">
                    <p class="attention-nickName">
                      <span>昵称</span>
                      <span>2018-09-12</span>
                    </p>
                </div>
                <span class="attention-cancel"><i nz-icon type="user-delete" theme="outline" style="margin-right:5px;"></i>取消关注</span>
              </div>
              <p class="attention-content">
                <img src="../../assets/image/lun01.jpg" >
                <img src="../../assets/image/test.jpg" >
                <br>
                漫步在诗书的时间轮，望着赤日炎炎的夏天，思绪不禁翻开了卷卷黄页。那种感觉如夏雨落入尘世的前奏，雨点柔柔的、软软的，轻轻融进暗香浮动的梦境
                ，飘逸浓浓醉心书香扑面而来，韵味悠久，沁人肺腑融入灵魂深处淡雅迷醉，如涓涓流水般，流过指尖，流过键盘，流到我的心底，填充我的灵魂，陪我一起领
                悟生活，让书中文字的韵律，渐渐安静我的灵魂，让我在书中沉淀自己，去除生命的糟粕，提取生命的精华。让我在这尘世中找到属于自己的位置，安静而美好。
                的那份悸动的瞬间。有书的熏陶，有文字的滋润从内而外都洋溢着一种自信。在夏之月夜里尽情挥洒，茶的香气满屋弥漫。捧卷而读，暗香，也由指间漾上了心头
              </p>
              <p class="attention-icon">
                <span><i nz-icon type="heart" theme="outline"></i><span>12</span></span>
                <span><i nz-icon type="message" theme="outline"></i><span>12</span></span>
              </p>
            </div>
          </div>
        </div>
        <app-avatar *ngIf="loginFlag == 'true'"></app-avatar>
      </div>
      <app-footer></app-footer>
    </div>
</div>
