<app-header></app-header>
<div class="attendance-leave">
    <div>
        <h3>新建请假流程</h3>
        <nz-form-item nzFlex>
          <nz-form-label>请假开始时间</nz-form-label>
          <nz-date-picker [(ngModel)]="date" placeholder="请选择时间" nz-name="startTime"></nz-date-picker>
          <nz-time-picker [(ngModel)]="time" [nzAddOn]="addOnTemplate" #timePicker></nz-time-picker>
          <ng-template #addOnTemplate>
            <button nz-button nzSize="small" nzType="primary" (click)="timePicker.close()">Ok</button>
          </ng-template>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label>请假结束时间</nz-form-label>
          <nz-date-picker [(ngModel)]="date" placeholder="请选择时间" nz-name="endTime"></nz-date-picker>
          <nz-time-picker [(ngModel)]="time" [nzAddOn]="addOnTemplate" #timePicker></nz-time-picker>
          <ng-template #addOnTemplate>
            <button nz-button nzSize="small" nzType="primary" (click)="timePicker.close()">Ok</button>
          </ng-template>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label>请假天数</nz-form-label>
          <nz-input-number [(ngModel)]="demoValue" [nzMin]="0" [nzMax]="10" [nzStep]="0.1" [nzPlaceHolder]="'Digital'"></nz-input-number>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label>导员</nz-form-label>
          <nz-select style="width: 60%"  nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
            <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
          </nz-select>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label >学号</nz-form-label>
          <input style="width:200px;" nz-input placeholder="学号" nz-name="studentID">
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label>代课老师</nz-form-label>
          <nz-select [nzMaxMultipleCount]="3" style="width: 60%" nzMode="multiple" nzPlaceHolder="Please select" [(ngModel)]="listOfSelectedValue">
            <!-- <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option> -->
            <nz-option></nz-option>
          </nz-select>
        </nz-form-item>
        <nz-form-item nzFlex>
          <nz-form-label>请假原因</nz-form-label>
          <textarea style="width: 60%" rows="3" nz-input [(ngModel)]="inputValue"></textarea>
        </nz-form-item>
        <button nz-button nzType="primary">提交</button>
    </div>
</div>
<app-footer></app-footer>
