/* ¹«¹² */
a{
    color: #000 !important;
}
.hide{ display: none; }
.show{ display: block; }
*{ padding: 0; margin: 0; }
/* login */
.attendance-login{
    width:100%;
    height:100%;
    /* background: #eee; */
}
.attendance-login .login-lk{
    margin: 0 auto;
    border-radius: 5px;
    width: 450px;
}
.login-lk{
    text-align: center;
    background: #eee;
}
.login-lk>h3{
    height: 100px;
    line-height: 100px;
    border-bottom: 2px solid rgb(156, 147, 147);
}
.login-lk .login-form{
    margin:  20px 50px;
}
/* system header */
.header, .footer{
    background: #eee;
}
.attendance-logo{
    display: flex;
    justify-content: space-between;
    padding: 12px 15px 0;
}
.attendance-logo>p a{
    margin-right:20px;
}
.attendance-logo>p a:hover{
    color: red !important;
}
.attendance-nav ul{ 
    list-style: none;
    height: 40px;
    line-height: 40px;
    background: #ccc;
}
.attendance-nav ul>li{
    float: left;
    width: 100px;
    text-align: center;
    font-size: 16px;
    border-right: 1px solid #999;
}
.attendance-nav .active, .attendance-nav ul>li:hover{
    background: #0AA679;
}
.attendance-nav .active>a, .attendance-nav ul>li:hover>a{
    color: #fff !important;
}
.attendance-nav ul>li>a{
    color: #000 !important;
}
/* system footer */
.footer a:hover{
    color: red !important;
}
.attendance-foot-nav{
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-around;
}
.attendance-foot-nav>ul{
    list-style: none;
    height: 35px;
    line-height: 50px;
}
.attendance-foot-nav>ul>li{
    float: left;
    width: 80px;
    text-align: center;
}
.attendance-foot-nav>ul>li>a{
    color: #211d1d !important;
}
.attendance-foot-nav>ul>li:first-child{
    text-align: right
}
.attendance-foot-nav>ul>li:first-child::before{
    display: none;
}
.attendance-foot-nav>ul>li:before{
    content: "/";
    margin-right: 10px;
    color: grey;
}
.attendance-foot-phone{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.attendance-foot-phone>div:first-child{
    padding-right: 15px;
}
.attendance-foot-phone>div:last-child{
    margin-left: 20px;
    width: 500px;
}
.attendance-foot-phone>div a{
    display: inline-block;
    width: 120px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.attendance-foot-copy{
    height:35px;
    line-height: 35px;
    text-align: center;
    background: #d2d0d0;
}
.attendance-leave{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.attendance-leave>div{
    width: 500px;
    text-align: center;
}
.attendance-leave h3{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}
.attendance-leave nz-form-label, .info-show nz-form-label{
    width: 120px;
    text-align: right;
    margin-right:10px;
}
.attendance-account{
    width: 75%;
    display: flex;
    justify-content: flex-start;
}
.attendance-account h3{
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    border-left: 10px solid red;
    margin-bottom: 40px;
}
.other-info{ margin-left: 20px; width: 60%}
.account-info{
    width: 30%;
    border-right: 1px solid #eee;
}
.other-info-jk>ul{
    list-style: none;
    height: 35px;
    line-height: 35px;
    margin-top: -15px;
    border-bottom: 2px solid #ccc;
}
.other-info-jk>ul>li{
    cursor: pointer;
    float: left;
    width: 120px;
    text-align: center;
}
.other-info-jk>ul>li:hover{
    border-bottom: 5px solid #0AA679;
    margin-top:-4px;
    color: #0AA679 !important;
}
.other-info-jk>ul .active{
    border-bottom: 5px solid #0AA679;
    margin-top:-4px;
    color: #0AA679 !important;
}
.infojk{
    margin: 50px;
}
#infojk-result{
    width: 500px;
    height: 400px;
}
.info-show ul{ list-style: none; }
.info-show ul li>i{
    margin-right:8px;
}
.attendance-detail{
    display: flex;
    justify-content: space-around;
}
.attendance-stu-show{
    display: flex;
    justify-content: center;
}
.apply-detail button{
    margin: 30px 40px 0 0;
}
.apply-detail h4{
    margin: 15px 0;
}
.attendance-stu-show>.stu-record ul{ list-style: none; }
.attendance-stu-show>.stu-record ul li{
    float: left;
    margin: 10px 20px;
}
.stu-record ul li>i{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    margin-right: 5px;
}
.stu-record table{ border-radius: 5px;}
.stu-record table, .stu-record th, .stu-record td{
    border: 1px solid #ccc;
    text-align: center;
    padding: 0 15px;
}
#lineChart{
    width: 700px;
    height: 400px;
}
.stu-statistic{
    border-left: 1px solid #eee;
    padding-left: 30px;
    margin-top: 40px;
    margin-left: 30px;
}
/* .apply-detail th, .apply-detail td{
    text-align: center;
} */