/* 公共 */
a{
    color: #000 !important;
}
.hide{ display: none; }
.show{ display: block; }
*{ padding: 0; margin: 0; }
/* Login */
.admin-login{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(#ccc, #232325f2); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#ccc, #232325f2); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#ccc, #232325f2); /* Firefox 3.6 - 15 */
    background: linear-gradient(#ccc, #232325f2); /* 标准的语法（必须放在最后） */
    padding-top: 10%;
    /* background: #eee; */
}
.login-lk{
    width: 420px;
    height: 350px;
    /* margin-top: 10%; */
    border-radius: 15px;
    background: #eee;
}
.login-lk>h3{
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.login-form>table{
    margin: 0 40px;
}
.login-form>table tr{
    height: 70px;
    line-height: 70px;
}
.login-form>table td{ text-align: center; }
.login-form>table td:last-child{
    padding-left: 20px;
}
.login-form>table button{
    width:215px;
}
/* admin */
.admin{
    display: flex;
    justify-content: flex-start;
    /* flex-direction: row-reverse; */
    /* position: relative; */
}
.admin-header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: #2ec5c5;
    border-left: 1px solid #2ec5c5;
    font-weight: bolder;
}
.admin-header .header-left{
    height: 100%;
    width: 45px;
    text-align: center;
    font-size: 16px;
}
.admin-header .header-left:hover{
    opacity: 0.7;
    font-size: 18px;
}
.admin-header .header-right{
    width: 100%;
    text-align: right;
    padding-right: 40px;
}
.admin-header .header-right>a{
    display: inline-block;
    padding: 0 20px;
}
.admin-header .header-right>a:hover{
    background: #fff;
}
.admin-header .header-right>a:hover>span{
    color: #2ec5c5;
}
.admin-header .header-right>a>span{
    color: #fff;
}
.admin-header .header-right>span{
    margin: 0 20px;
    cursor: pointer;
}
.admin-header .header-right>span>i{
    margin-right: 5px;
    font-size: 12px;
}
.updatepws td:last-child{
    padding-left: 20px;
}
.admin-nav{
    width: 240px;
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0; */
    height: 100%;
}
.admin-right{
    width: 100%;
    /* position: absolute;
    left: 240px; */
}
.admin-nav>h4{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    background: #2ec5c5;
    text-align: center;
}
.navigation{
    width: 100%;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    margin-top: -10px;
    height: 100%;
}
.navigation ul{ width: 100%; list-style: none;}
.navigation ul>a{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    width: 100%;
}
.navigation ul li{
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: 14px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.navigation ul li:hover, .navigation ul .active{
    background: #e0dede;
}
/* admin container */
.content{
    padding: 20px;
}
.content-search{
    height: 60px;
    line-height: 60px;
    /* background: #2ec5c5;
    color: #fff; */
}
.content-search button{
    margin: 0 20px;
}
.content-table th, .content-table td {
    text-align: center;
}
.content-table img{
    width: 60px;
    height: 60px;
}
.content-model td:first-child{
    text-align: right;
    padding-right: 25px;
}
/* header */
.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    /* background: rgba(243, 242, 242); */
    /* color: #fff; */
    padding: 0 15px;
}
.header .header-left, .header .header-left>div{
    display: flex;
    justify-content: flex-start;
}
.header .header-left>div{
    margin: 0 20px;
    margin-top: 10px;
}
.header .header-left ul{list-style: none;}
.header .header-left ul>a{
    display: inline-block;
    width: 70px;
    height: 100%;
}
.header .header-left ul li{
    float: left;
    width: 70px;
    text-align: center;
}
.header .header-left ul li:hover, .header .header-left .active{
    background: #fff;
    border-bottom: 3px solid #2ec5c5;
}
.header .header-right span{
    margin: 0 20px;
    cursor: pointer;
}
.header .header-right img{
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    margin-right: 5px;
}
.header .header-right span:hover{ color: #2ec5c5; }
.header .header-right span>i{
    margin-right: 5px;
}
.header .setting a{
    background: #2ec5c5 !important;
}
.login-person tr{
    height: 60px;
    line-height: 60px;
}
/* container */
.main{
    display: flex;
    justify-content: space-around;
    margin: 30px 50px;
}
.main-body{
    box-shadow: 0px 1px 5px 0px #88887e;
    background: #fff;
    width: 60%;
    padding: 30px 20px;
}
.main-text{
  padding-left: 15px;
  color: #999;
  overflow:hidden;/*内容超出后隐藏*/
  text-overflow:ellipsis;/* 超出内容显示为省略号*/
  white-space:nowrap;/*文本不进行换行*/"
}
.main-avatar{
    width: 220px;
    background: #fff;
    box-shadow: 0px 1px 5px 0px #88887e;
}
.main-avatar .avatar-info{
    text-align: center;
}
.main-avatar .avatar-info .img{
    width: 100px;
    height: 100px;
    margin-left: 60px;
    cursor: pointer;
}
.avatar-info .img img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 15px;
}
.avatar-info>span{
    display: inline-block;
    height: 30px;
    line-height: 40px;
    cursor: pointer;
}
.avatar-info p:last-child{
    height: 40px;
    line-height: 40px;
}
.avatar-info p:last-child>span{ margin: 0 8px;cursor: pointer; }
.avatar-info p:last-child>span:hover{ color: #2ec5c5; }
.avatar-info p:last-child>span>b{ margin-right: 3px; }
.main-avatar .avatar-link{
    margin-top: 10px;
}
.avatar-link h4{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #2ec5c5;
    color: #fff;
    text-align: center;
}
.avatar-link ul{
    width: 100%;
    list-style: none;
}
.avatar-link ul>li{
    height: 35px;
    line-height: 35px;
    padding-left: 25px;
    cursor: pointer;
}
.avatar-link ul>li:hover{
    color: #2ec5c5 !important;
    background: #f5f6fa;
}
.main-admin ul{ list-style: none; }
.main-admin ul>li{
    cursor: pointer;
    border-bottom: 1px solid #eee;
    padding: 5px;
}
.main-admin ul>li:hover{
    background: #eee;
}
.main-admin ul>li:hover .text-title>span{color: #2ec5c5;}
.main-post>h4{
    height: 40px;
    line-height: 40px;
    border-bottom: 3px solid #2ec5c5;
    padding-left: 15px;
}
.main-post ul{list-style: none;padding: 15px 20px 20px 20px;}
.main-post li{
    cursor: pointer;
    margin-bottom: 20px;
}
.main-post .main-post-title{
    height: 35px;
    line-height: 35px;
}
.main-post-title>span{
    font-weight: bolder;
    font-size: 15px;
    margin-right: 15px;
    color: #2ec5c5;
}
.main-post-title>i{
    font-size: 12px;
    color: #88887e;
}
.main-post p{
    padding: 15px 10px;
    color: #555;
    line-height: 2.4;
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 3; 
}
.main-post .main-post-number{
    display: flex;
    justify-content: flex-end;
}
.main-post .main-post-number>span{
    margin: 0 15px;
}
.main-post .main-post-number>span:hover{
    color: #2ec5c5;
}
.post-model ul{list-style: none;}
.post-model ul>li{
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.post-model ul>li:hover a{ color: #2ec5c5; }
.fan-model td{
    padding: 10px 0;
    cursor: pointer;
}
.fan-model td img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.fan-model td:last-child{
    color: #2ec5c5;
    cursor: pointer;
}
/* admin创建 */
.admin-create table tr{
    height: 90px;
    line-height: 90px;
}
.admin-create table tr>th{
    text-align: center;
}
.tableOver{
    max-width: 200px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;
}
.content-model table td>img{
    height: 60px;
    height: 60px;
}
/* admin帖子详情 */
.question-page{
    width: 60%;
    margin: 0 auto;
}
.question-page>h5{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bolder;
}
.question-page>.question-content{
    padding: 0 8px;
}
.question-page>.question-icon{
    display: flex;
    justify-content: flex-end;
}
.question-page>.question-icon>span{
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
}
.question-icon>span>i{ margin-right: 3px; }
.question-page>.question-icon>span:hover{ color: #2ec5c5; }
.question-comment-content .comment-user{ color: #2ec5c5; cursor: pointer; }
.question-comment-content>p>i{ margin: 0 3px;}
.question-comment-content .comment-reply{ margin-left: 5px;}
.question-comment-content .comment-detele{ margin-left: 150px; cursor: pointer; }
.question-comment-content .comment-detele:hover{ color: #2ec5c5; }
.question-comment{ position: relative; }
.question-comment>button{
    position: absolute;
    top: 100px;
    right: 0px;
}
/* 关注人页面 */
.view-attention{
    position: relative;
}
.view-attention .attention-user{
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
}
.attention-user .attention-user-avatar{
    display: flex;
    justify-content: flex-start;
}
.attention-user .attention-user-avatar>img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-right: 25px;
    cursor: pointer;
}
.attention-user .attention-user-avatar>.attention-nickName>span:first-child{
    color: #2ec5c5;
    font-size: 14px;
    cursor: pointer;
}
.attention-user .attention-user-avatar>.attention-nickName>span:last-child{
    color: #ccc;
    margin-left: 15px;
}
.attention-user .attention-cancel{
    color: #2ec5c5;
    cursor: pointer;
    margin-right: 70px;
}
.view-attention .attention-content>img{
    width: 100px;
    height: 100px;
    margin: 5px 8px;
}
.view-attention .attention-icon{
   display: flex;
   justify-content: flex-end;
   padding-right: 40px;
}
.view-attention .attention-icon>span, .person-page-moment .moment-icon>span{
    font-size: 16px;
    margin: 0 15px;
    cursor: pointer;
}
.view-attention .attention-icon>span:hover, .person-page-moment .moment-icon>span:hover{
    color: #2ec5c5;
}
.view-attention>div{
    margin-bottom: 80px;
    border-bottom: 1px solid #ccc;
}
.view-attention>div:last-child{
    margin-bottom: 50px;
    border-bottom: none;
}
/* user创建帖子 */
.post-datil>h4{
    height: 35px;
    line-height: 35px;
    border-left: 2px solid #2ec5c5;
    padding-left: 15px;
}
.post-datil>table{
    margin: 15px;
}
.post-datil>table tr{
    height: 80px;
}
/* 个人信息 */
.question-none{
    text-align: center;
    margin: 0;
    font-size: 18px;
    color: #666;
}
.person-page{
    /* margin: 0 auto; */
}
.person-page .person-page-header{
    display: flex;
    justify-content: space-between;
}
.person-page-header p>img{
    height: 70px;
    width: 70px;
    border-radius: 35px;
    margin-right:20px
}
.person-page-header .nickName{
    color: #2ec5c5;
    font-size: 16px;
}
.person-page-header p:last-child{
    margin-left: 15px;
}
.person-page-header-follow{
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
    color: #2ec5c5;
}
.person-page-header-follow>span{
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border: 1px solid #2ec5c5;
    border-radius: 5px;
}
.scrollbar::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.scrollbar::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px #fff;
    background: #ccc;
}
.scrollbar::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px #fff;
    border-radius: 10px;
    background: #EDEDED;
}
.person-page-moment{
    /* position: relative; */
}
.person-page-moment .moment-title{
    padding-left: 20px;
    border-bottom: 2px solid #2ec5c5;
    display: flex;
    justify-content: flex-start;
}
.person-page-moment .moment-title>h5{
    height: 25px;
    line-height: 25px;
    font-weight: bolder;
    margin-right: 20px;
    color: #2ec5c5;
    cursor: pointer;
}
 .person-page-moment .moment-title>span{
    color: #ccc;
    margin-top: 4px;
}/*
.moment-title>span>i{ color: #ccc; } */
.person-page-moment .moment-content{
    padding: 5px 10px;
    cursor: pointer;
}
.moment-content>img{
    width: 100px;
    height: 100px;
    margin: 5px 8px;
}
.person-page-moment .moment-icon{
    padding-right: 40px;
    margin: 10px 0 70px 0;
}
.person-page-moment .moment-icon>span{
    float: right;
}
/* 帖子评论回复 （详情）*/
/* question-content */
.question-content-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.question-content-header img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.question-content-header>div:first-child>span{
    margin-left:15px;
    color: #2ec5c5;
    margin-top: 20px;
}
.question-content-text>h5{
    height: 40px;
    line-height: 40px;
    font-weight: bolder;
    color: #2ec5c5;
    font-size: 16px;
}
.question-content-text>h5>i{
    margin-left:20px;
    color: #999;
    font-size: 12px;
    font-weight: 300;
}
.question-content-text .question-content-text2{
   padding: 0 15px;
}
.question-content-text .question-content-text2>img{
    width: 100px;
    height: 100px;
    margin: 5px 8px;
}
.question-content-text .question-content-text-icon{
    margin-right:20px;
    display: flex;
    justify-content: flex-end;
}
.question-content-text .question-content-text-icon>span{
    margin: 0 15px;
    cursor: pointer;
}
.question-content-text-icon>span>i{
    margin-right: 5px;
}
.question-content-text .question-content-text-icon>span:hover{
    color: #2ec5c5;
}
.question-content-comment{
    margin: 20px 0;
    font-size: 13px;
    line-height: 25px;
}
.question-content-comment .content-comment-text{
    display: flex;
    justify-content: space-between;
}
.content-comment-text .comment-symbol{
    margin: 0 6px;
}
.question-content-comment .comment-user{ color: #2ec5c5; cursor: pointer; }
.content-comment-text .comment-reply{ margin: 0 5px;}
.content-comment-text .content-comment-icon>span{
    margin-right: 30px;
    cursor: pointer;
}
.content-comment-icon>span>i{
    margin-right: 5px;
}
.content-comment-text .content-comment-icon>span:hover{
    color: #2ec5c5;
}
.content-comment-text .content-comment-icon>span:last-child{
    margin-right: 15px;
}
/* .question-content-comment .comment-detele{ margin-left: 150px; cursor: pointer; }
.question-content-comment .comment-detele:hover{ color: #2ec5c5; } */
.question-content-textarea>button{
   float: right;
   margin-top:15px;
}
.post-model1 li{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.post-model1 li>span:first-child{
    color: #2ec5c5;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
}
.post-model1 li .time{
    font-size: 10px;
    color: #ccc;
}
.post-model1 li>span:last-child{
    color: #2ec5c5;
    cursor: pointer;
}

/* 个人设置 */

