/* 公共 */
a{
    color: #000 !important;
}
.hide{ display: none; }
.show{ display: block; }
*{ padding: 0; margin: 0; }
/* Login */
.admin-login{
    display: flex;
    justify-content: center;
}
.login-lk{
    width: 500px;
    height: 400px;
    padding: 40px;
    border: 1px solid red;
}