/* 公共 */
a{
    color: #000 !important;
}
.hide{ display: none; }
.show{ display: block; }
*{ padding: 0; margin: 0; }
/* Login */
.admin-login{
    display: flex;
    justify-content: center;
}
.login-lk{
    width: 500px;
    height: 400px;
    border: 1px solid red;
    margin-top: 15%;
}
.login-lk>h3{
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.login-form>table{
    margin: 0 40px;
}