<app-header></app-header>
<div class="admin-teacher">
    <app-navigation></app-navigation>
    <div class="admin">
        <div class="add student-add">
          <div class="admin-search">
            <label>专业：</label>
            <input style="width:200px;" nz-input placeholder="专业" nz-name="studentID">
            <label>课程信息：</label>
            <input style="width:200px;" nz-input placeholder="课程相关信息" nz-name="studentID">
          </div>
          <button nz-button nzType="primary"><i nz-icon type="search" theme="outline"></i>查询</button>
          <button nz-button nzType="primary" (click)="addInfo()"><i nz-icon type="plus" theme="outline"></i>添加</button>
        </div>
        <div class="admin-table student-table">
          <nz-table #borderedTable nzBordered [nzData]="dataSet">
            <thead>
              <tr>
                <th width="10">序号</th>
                <th>考勤编号</th>
                <th>课程编号</th>
                <th>学号</th>
                <th>老师姓名</th>
                <th>上课时间</th>
                <th>考勤状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of infoList">
                <td>123456</td>
                <td>2345667</td>
                <td>2511150329</td>
                <td>刘洁琳</td>
                <td>2019-02-12 12:34</td>
                <td>正常</td>
                <td>
                  <button nz-button nzType="primary" [nzSize]="small" (click)="editInfo(item)"><i nz-icon type="edit" theme="outline"></i></button>
                  <button nz-button nzType="danger" [nzSize]="small" (click)="deleteConfirm(item.courseId)"><i nz-icon type="delete" theme="outline"></i></button>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
    </div>
  </div>