<div class="admin">
    <app-navigation></app-navigation>
    <div class="admin-right">
      <app-header></app-header>
      <div class="content">
        <div class="content-search">
          <input nz-input style="width: 250px;" placeholder="请输入关键字查询" [(ngModel)]="searchValue">
          <button nz-button nzType="primary" (click)="getSearch()"><i nz-icon type="search" theme="outline"></i> 查询</button>
          <!-- <button nz-button nzType="primary" (click)="addInfo()"><i nz-icon type="plus" theme="outline"></i>添加</button> -->
        </div>
        <div class="content-table">
          <nz-table #nzTable [nzData]="infoList" nzBordered [nzPageSize]="6" nzShowSizeChanger [nzNoResult]="" [nzLoading]="pageLoading">
            <thead>
              <tr>
                <th>序号</th>
                <th>编号</th>
                <th>帖子编号</th>
                <th>评论用户编号</th>
                <th>内容</th>
                <th>点赞数</th>
                <th>评论时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of nzTable.data; index as i">
                <td>{{i+1}}</td>
                <td>{{item.commentId}}</td>
                <td>{{item.queId}}</td>
                <td>{{item.userId}}</td>
                <td title="{{item.content}}">{{item.content}}</td>
                <td>{{item.praseCount}}</td>
                <td>{{item.createTime}}</td>
                <td>
                  <!-- <button nz-button nzType="primary" (click)="updateInfo(item)">编辑</button> -->
                  <button nz-button nzType="danger" (click)="deteleInfo(item)">删除</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>

  <!-- 修改 -->
<nz-modal [(nzVisible)]="isVisibleUpdate" nzTitle="修改帖子信息" (nzOnCancel)="handleCancel()" (nzOnOk)="handleUpdate()">
    <div class="content-model">
      <table>
        <tr>
          <td width="150"><nz-form-label>编号</nz-form-label></td>
          <td><input nz-input placeholder="编号" [(ngModel)]="comment.id" disabled></td>
        </tr>
        <tr>
            <td width="150"><nz-form-label>评论用户</nz-form-label></td>
            <td><input nz-input placeholder="评论用户" [(ngModel)]="comment.userID" disabled></td>
           </tr>
        <tr>
          <td width="150"><nz-form-label>主贴编号</nz-form-label></td>
          <td><input nz-input placeholder="主贴编号" [(ngModel)]="comment.queID" disabled></td>
        </tr>
        <tr>
          <td width="150"><nz-form-label>内容</nz-form-label></td>
          <td><textarea rows="2" nz-input [(ngModel)]="comment.content"></textarea></td>
        </tr>
        <!-- comment.img -->
        <!-- <tr>
          <td width="150"><nz-form-label>图片</nz-form-label></td>
          <td><img src=""></td>
        </tr> -->
      </table>
    </div>
  </nz-modal>