<div class="admin">
  <app-navigation></app-navigation>
  <div class="admin-right">
    <app-header></app-header>
    <div class="content">
      <div class="content-search">
        <input nz-input style="width: 250px;" placeholder="请输入专业/老师查询" [(ngModel)]="searchValue">
        <button nz-button nzType="primary" (click)="getSearchInfo()"><i nz-icon type="search" theme="outline"></i> 查询</button>
        <button nz-button nzType="primary" (click)="addInfo()"><i nz-icon type="plus" theme="outline"></i>添加</button>
      </div>
      <div class="content-table">
        <nz-table #borderedTable nzBordered [nzData]="dataSet">
          <thead>
            <tr>
              <th>序号</th>
              <th>编号</th>
              <th>学院</th>
              <th>专业</th>
              <th>课程</th>
              <th>老师</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of infoList; index as i;">
              <td>{{i+1}}</td>
              <td>{{item.id}}</td>
              <td>{{item.department}}</td>
              <td>{{item.major}}</td>
              <td>{{item.course}}</td>
              <td>{{item.teacher}}</td>
              <td>
                <button nz-button nzType="primary" (click)="updateInfo(item)">编辑</button>
                <button nz-button nzType="danger" (click)="deteleInfo(item)">删除</button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>
<!-- 添加 -->
<nz-modal [(nzVisible)]="isVisibleAdd" nzTitle="添加课程信息" (nzOnCancel)="handleCancel()" (nzOnOk)="handleAdd()">
  <div class="content-model">
    <table>
     <tr>
       <td width="150"><nz-form-label>学院</nz-form-label></td>
       <td><input nz-input placeholder="学院" [(ngModel)]="course.department"></td>
     </tr>
     <tr>
       <td width="150"><nz-form-label>专业</nz-form-label></td>
       <td><input nz-input placeholder="专业" [(ngModel)]="course.major"></td>
     </tr>
     <tr>
       <td width="150"><nz-form-label>课程</nz-form-label></td>
       <td><input nz-input placeholder="课程" [(ngModel)]="course.course"></td>
     </tr>
     <tr>
      <td width="150"><nz-form-label>老师</nz-form-label></td>
      <td><input nz-input placeholder="老师" [(ngModel)]="course.teacher"></td>
    </tr>
   </table>
  </div>
</nz-modal>

<!-- 修改 -->
<nz-modal [(nzVisible)]="isVisibleUpdate" nzTitle="修改课程信息" (nzOnCancel)="handleCancel()" (nzOnOk)="handleUpdate()">
    <div class="content-model">
      <table>
        <tr>
          <td width="150"><nz-form-label>学院</nz-form-label></td>
          <td><input nz-input placeholder="学院" [(ngModel)]="course.department"></td>
        </tr>
        <tr>
          <td width="150"><nz-form-label>专业</nz-form-label></td>
          <td><input nz-input placeholder="专业" [(ngModel)]="course.major"></td>
        </tr>
        <tr>
          <td width="150"><nz-form-label>课程</nz-form-label></td>
          <td><input nz-input placeholder="课程" [(ngModel)]="course.course"></td>
        </tr>
        <tr>
         <td width="150"><nz-form-label>老师</nz-form-label></td>
         <td><input nz-input placeholder="老师" [(ngModel)]="course.teacher"></td>
       </tr>
      </table>
    </div>
  </nz-modal>