<div class="admin">
    <app-navigation></app-navigation>
    <div class="admin-right">
      <app-header></app-header>
      <div class="content">
        <div class="admin-create">
          <table>
            <tr>
              <th width="200">标题</th>
              <td width="400"><input nz-input placeholder="请输入帖子标题" [(ngModel)]="queTitle"></td>
            </tr>
            <tr>
              <th>文本</th>
              <td><textarea style="width: 400px; height: 500px;" rows="3" placeholder="请输入帖子内容" nz-input [(ngModel)]="queContent"></textarea></td>
            </tr>
            <tr>
              <th>图片</th>
              <td>
                <nz-upload
                  class="avatar-uploader"
                  nzAction="http://127.0.0.1:8080/forum/file/upload"
                  nzName="files"
                  nzListType="picture-card"
                  [nzShowUploadList]="false"
                  [nzBeforeUpload]="beforeUpload"
                  (nzChange)="handleChange($event)"
                >
                  <ng-container *ngIf="!avatarUrl">
                    <i class="upload-icon" nz-icon [type]="loading ? 'loading' : 'plus'"></i>
                    <div class="ant-upload-text">Upload</div>
                  </ng-container>
                  <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar" />
                </nz-upload>
                  <!--<input type="file" (change)="fileChange($event)" style="margin-left: 15px;height: 25px;line-height: 20px;">-->
              </td>
            </tr>
            <tr>
              <td style="text-align: right;" colspan="2"><button (click)="publishQue()" nz-button nzType="primary">发布</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
