<div class="admin">
    <app-navigation></app-navigation>
    <div class="admin-right">
      <app-header></app-header>
      <div class="content">
        <div class="admin-create">
          <table>
            <tr>
              <th width="200">标题</th>
              <td width="400"><input nz-input placeholder="请输入帖子标题" [(ngModel)]="queTitle"></td>
            </tr>
            <tr>
              <th>文本</th>
              <td><textarea rows="3" placeholder="请输入帖子内容" nz-input [(ngModel)]="queContent"></textarea></td>
            </tr>
            <tr>
              <th>图片</th>
              <td>
                <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
                    <button nz-button>
                      <i nz-icon type="upload"></i><span>Select File</span>
                    </button>
                  </nz-upload>
              </td>
              <!-- <input class="col-xs-12  dtwx-file-btn" type="file" id="fileUpload" accept="video/*" capture="camcorder"
                        ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" *ngIf="'WXWORK' === appType"/> -->
              <!-- <td><input type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" 
                class="form-control" id="imageFile" name="imageFile"></td> -->
            </tr>
            <tr>
              <td style="text-align: right;" colspan="2"><button (click)="publishQue()" nz-button nzType="primary">发布</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>