<div class="admin-header">
  <div class="header-left" (click)="hideNav()"><i nz-icon type="pic-left" theme="outline"></i></div>
  <div class="header-right">
    <span (click)="drop()"><i nz-icon type="poweroff" theme="outline"></i>退出</span>
    <span (click)="showModel()"><i nz-icon type="setting" theme="outline"></i>修改密码</span>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="修改密码" (nzOnCancel)="handleCancel()" (nzOnOk)="updatePass()">
    <table class="updatepws">
        <tr>
          <td width="150" align="right"><nz-form-label>旧密码</nz-form-label></td>
          <td><input type="password" nz-input placeholder="请输入旧密码" [(ngModel)]="oldPassword"></td>
        </tr>
        <tr>
          <td width="150" align="right"><nz-form-label>新密码</nz-form-label></td>
          <td><input type="password" nz-input placeholder="请输入新密码" [(ngModel)]="newPassword"></td>
        </tr>
        <tr>
          <td width="150" align="right"><nz-form-label>确认密码</nz-form-label></td>
          <td><input type="password" nz-input placeholder="再输入一遍密码" [(ngModel)]="repeatPassword"></td>
        </tr>
        <tr>
          <td colspan="2" style="color: red;text-align: right" *ngIf="promptFlag">两次输入的密码不一样</td>
        </tr>
    </table>
</nz-modal>
