<div class="attendance-login admin-login">
  <div class="login-lk admin-lk">
    <h3>学生考勤管理系统后台</h3>
    <div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputPassword" class="col-sm-4 control-label">管理员账户：</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="user.account" name="account" placeholder="请输入账户">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-4 control-label">管理员密码：</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="请输入密码">
                </div>
            </div>
        </form>
        <button style="background: #3498A6; border: none" type="button" class="btn btn-success" (click)="loginAdmin()">登录系统</button>
    </div>
  </div>
</div>
