<!-- <div class="admin-login">
    <div class="login-lk">
        <h3>学习心得交流系统后台</h3>
        <div class="login-form">
            <table>
                <tr>
                    <td><nz-form-label>管理员账号</nz-form-label></td>
                    <td width="240"><input nz-input placeholder="学号"  [(ngModel)]="admin.account"></td>
                </tr>
                <tr>
                    <td><nz-form-label>密码</nz-form-label></td>
                    <td><input nz-input placeholder="密码" type="password" [(ngModel)]="admin.password"></td>
                </tr>
                <tr>
                    <td colspan="2"><button nz-button (click)="login()" nzType="primary">登录</button></td>
                </tr>
            </table>
            
        </div>
    </div>
</div> -->

<input type="file" id="fileUpload"  capture="camcorder"
    ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" [(ngModel)]="aaa" />

    <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
        <button nz-button><i nz-icon type="upload"></i><span>Select File</span></button>
    </nz-upload>
      <button
        nz-button
        [nzType]="'primary'"
        [nzLoading]="uploading"
        (click)="handleUpload()"
        [disabled]="fileList.length == 0"
        style="margin-top: 16px"
      >
        {{ uploading ? 'Uploading' : 'Start Upload' }}
      </button>

      <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" [nzCustomRequest]="customReq">
        <button nz-button><i nz-icon type="upload"></i><span>Click to Upload</span></button>
      </nz-upload>
