<div class="admin">
    <app-navigation></app-navigation>
    <div class="admin-right">
      <app-header></app-header>
      <div class="content">
        <div class="question-page">
          <!-- 
clickCount: 1
createTime: "2019-04-16 21:01:57"
praiseCount: 0
queCourse: ""
queDetail: "管理人员测试发帖一管理人员测试发帖一"
queId: "1555419717000"
queImg: "C:\fakepath\stu003.jpg"
queSummary: ""
queTitle: "管理人员测试发帖一"
replyCount: 0
unread: 0
userId: "admin"

this.question.id = question['queId'];
        this.question.time = question['createTime'];
        this.question.course = question['queCourse'];
        this.question.praise = question['praiseCount'];
        this.question.detail = question['queDetail'];
        this.question.src = question['queImg'];
        this.question.title = question['queTitle'];
        this.question.reply = question['replyCount'];
        this.question.unread = question['createTime'];
        this.question.userID = question['unread'];
        this.question.click = question['clickCount'];
           -->
           <div class="question-content-text">
              <h5>{{question.title}} <i>{{question.time}}</i></h5>
              <p class="question-content-text2">
                  <img [src]="questionImg" *ngIf="questionImg">
                  <!-- <img src="../../assets/image/lun02.jpg" > -->
                  {{question.detail}}
              </p>
              <p class="question-content-text-icon">
                <span><i nz-icon type="message" theme="outline"></i><span>{{question.reply}}</span></span>
                <span><i nz-icon type="heart" theme="outline"></i><span>{{question.praise}}</span></span>
              </p>
          </div>

          <!-- 评论回复 -->
          <div class="question-content-comment" *ngIf="commentList.length != 0">
              <div *ngFor="let comment of commentList; index as i;">
                <div class="content-comment-text">
                  <div>
                      <span class="comment-user">{{comment.comment.userNickname}}</span>
                      <span class="comment-symbol">:</span>
                      <span class="comment-content">{{comment.comment.commentConent}}</span>
                  </div>
                  <span class="content-comment-icon">
                      <span class="comment-detele" (click)="getPraiseCount(comment.comment.commentId, 'comment')"><i nz-icon type="heart" theme="outline"></i>{{comment.comment.parseCount}}</span>
                      <span  (click)="showCommentReply(comment.comment.commentId, comment.comment.userNickname)"><i nz-icon type="message" theme="outline"></i></span>
                      <span  (click)="deleteComment(comment.comment.commentId, 'comment')"><i nz-icon type="delete" theme="outline"></i></span>
                  </span>
                </div>
                <div class="content-comment-text" *ngFor="let reply of comment.reply; index as j;">
                  <div>
                      <span class="comment-user">{{reply.replyUser.name}}</span>
                      <span class="comment-reply">回复</span>
                      <span class="comment-user">{{reply.replyedUser.name}}</span>
                      <span class="comment-symbol">:</span>
                      <span class="comment-content">{{reply.replyContent}}</span>
                  </div>
                  <span class="content-comment-icon">
                      <span class="comment-detele" (click)="getPraiseCount(reply.replyId, 'commentReply')"><i nz-icon type="heart" theme="outline"></i>{{reply.praseCount}}</span>
                      <span  (click)="showCommentReply(reply.replyId, reply.replyUser.name)"><i nz-icon type="message" theme="outline"></i></span>
                      <span  (click)="deleteComment(reply.replyId, 'commentReply')"><i nz-icon type="delete" theme="outline"></i></span>
                  </span>
                </div>
              </div>
            </div>
            <div  *ngIf="commentList.length == 0" style="margin: 15px 0;text-align: center;">
              暂无评论数据
              <!-- <nz-empty></nz-empty> -->
            </div>
            <!-- 评论回复 end -->

          <!-- 评论框 -->
          <div class="question-comment" *ngIf="commentPartFlag">
              <textarea rows="3" placeholder="@回复  {{commentUserName}}："  nz-input [(ngModel)]="queContent"></textarea>
              <button style="margin-top: 10px;" nz-button nzType="primary" (click)="commentPublish()">发表</button>
          </div>
          <!-- 评论框结束 -->

        </div>
      </div>
    </div>
  </div>