<app-header></app-header>
<div class="attendance-detail">
  <div class="apply-detail">
    <h4>201901011012-苏丹丹</h4>
    <nz-table #middleTable  nzSize="middle" [nzData]="data">
      <thead>
        <tr>
            <th width="150">名称</th>
            <th width="300">介绍</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>姓名</td>
          <td>苏丹丹</td>
        </tr>
        <tr>
          <td>原因</td>
          <td>的方式大V割发代首佛挡杀佛都是范德萨范德萨范德萨发的上的方法大V阿萨德第三方大厦 发送到</td>
        </tr>
      </tbody>
    </nz-table>
    <div *ngIf="user == 'student'">
      <button nz-button nzType="primary" (click)="updateApply('201901011012')">修改信息</button>
      <button nz-button (click)="noticeTeach('201901011012')">通知导员</button>
    </div>
    <div *ngIf="user == 'teacher'">
      <button nz-button nzType="primary" (click)="updateApply('201901011012')">批准请假</button>
    </div>
  </div>
  <div class="apply-all">
      <ul>
        <li><i>请假编号：</i><span>12145431522554</span></li>
        <li><i>请假编号：</i><span>12145431522554</span></li>
        <li><i>请假编号：</i><span>12145431522554</span></li>
        <li><i>请假编号：</i><span>12145431522554</span></li>
        <li><i>请假编号：</i><span>12145431522554</span></li>
      </ul>
  </div>
</div>
<app-footer></app-footer>
<nz-modal [(nzVisible)]="isVisibleUpdate" nzTitle="修改请假信息" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <nz-form-item nzFlex>
    <nz-form-label>请假开始时间</nz-form-label>
    <nz-date-picker [(ngModel)]="date" placeholder="请选择时间" nz-name="startTime"></nz-date-picker>
    <nz-time-picker [(ngModel)]="time" [nzAddOn]="addOnTemplate" #timePicker></nz-time-picker>
    <ng-template #addOnTemplate>
      <button nz-button nzSize="small" nzType="primary" (click)="timePicker.close()">Ok</button>
    </ng-template>
  </nz-form-item>
  <nz-form-item nzFlex>
    <nz-form-label>请假结束时间</nz-form-label>
    <nz-date-picker [(ngModel)]="date" placeholder="请选择时间" nz-name="endTime"></nz-date-picker>
    <nz-time-picker [(ngModel)]="time" [nzAddOn]="addOnTemplate" #timePicker></nz-time-picker>
    <ng-template #addOnTemplate>
      <button nz-button nzSize="small" nzType="primary" (click)="timePicker.close()">Ok</button>
    </ng-template>
  </nz-form-item>
  <nz-form-item nzFlex>
    <nz-form-label>请假天数</nz-form-label>
    <nz-input-number [(ngModel)]="demoValue" [nzMin]="0" [nzMax]="10" [nzStep]="0.1" [nzPlaceHolder]="'Digital'"></nz-input-number>
  </nz-form-item>
  <nz-form-item nzFlex>
    <nz-form-label>导员</nz-form-label>
    <nz-select style="width: 60%"  nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
      <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
      <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
      <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
    </nz-select>
  </nz-form-item>
  <nz-form-item nzFlex>
    <nz-form-label >学号</nz-form-label>
    <input style="width:200px;" nz-input placeholder="学号" nz-name="studentID">
  </nz-form-item>
  <nz-form-item nzFlex>
    <nz-form-label>代课老师</nz-form-label>
    <nz-select [nzMaxMultipleCount]="3" style="width: 60%" nzMode="multiple" nzPlaceHolder="Please select" [(ngModel)]="listOfSelectedValue">
      <!-- <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option> -->
      <nz-option></nz-option>
    </nz-select>
  </nz-form-item>
  <nz-form-item nzFlex>
    <nz-form-label>请假原因</nz-form-label>
    <textarea style="width: 60%" rows="3" nz-input [(ngModel)]="inputValue"></textarea>
  </nz-form-item>
</nz-modal>