<!-- <app-header></app-header> -->
<div class="attendance-detail">
    <div class="apply-detail">
        <h4>{{leave.id}} - {{leave.stuName}}</h4>
        <nz-table #middleTable nzSize="middle" [nzData]="data">
            <thead>
                <tr>
                    <th width="150">名称</th>
                    <th width="300">介绍</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>请假编号</td>
                    <td>{{leave.id}}</td>
                </tr>
                <tr>
                    <td>学号</td>
                    <td>{{leave.stuId}}</td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td>{{leave.stuName}}</td>
                </tr>
                <tr>
                    <td>创建时间</td>
                    <td>{{leave.applicationTime}}</td>
                </tr>
                <tr>
                    <td>请假开始时间</td>
                    <td>{{leave.startTime}}</td>
                </tr>
                <tr>
                    <td>请假结束时间</td>
                    <td>{{leave.endTime}}</td>
                </tr>
                <tr>
                    <td>请假时长</td>
                    <td>{{leave.day}}</td>
                </tr>
                <tr>
                    <td>导员</td>
                    <td>{{leave.guideTea}}</td>
                </tr>
                <tr>
                    <td>代课老师</td>
                    <td>{{leave.courTea}}</td>
                </tr>
                <tr>
                    <td>请假状态</td>
                    <td *ngIf="leave.status == '0'" style="color: red;">未批准</td>
                    <td *ngIf="leave.status == '1'" style="color: #0AA679;">已批准</td>
                </tr>
                <tr>
                    <td>原因</td>
                    <td>{{leave.reason}}</td>
                </tr>
            </tbody>
        </nz-table>
        <div *ngIf="type == 'student'">
            <button nz-button nzType="primary" (click)="updateApply()">修改信息</button>
            <button nz-button (click)="noticeTeach()">通知导员</button>
        </div>
        <div *ngIf="type == 'teacher'">
            <button nz-button nzType="primary" (click)="agreeApply()">批准请假</button>
        </div>
    </div>
    <div class="apply-all">
        <ul>
            <li *ngFor="let item of infoList; index as i" (click)="getLeaveInfo(item.id)"
                [ngStyle]="{'color': item.status == '1' ? '#0AA679' : 'red' }">
                <i>请假编号：</i>
                <span>{{item.id}}</span>
            </li>
        </ul>
    </div>
</div>
<app-footer></app-footer>
<nz-modal [(nzVisible)]="isVisibleUpdate" nzTitle="修改请假信息" (nzOnCancel)="handleCancel()" (nzOnOk)="saveUpdateApply()">
    <table class="leaveModel">
        <tr>
            <th>
                <nz-form-label>学号</nz-form-label>
            </th>
            <td><input nz-input placeholder="学号" [(ngModel)]="leave.stuId" disabled></td>
        </tr>
        <tr>
            <th>
                <nz-form-label>姓名</nz-form-label>
            </th>
            <td><input nz-input placeholder="姓名" [(ngModel)]="leave.stuName" disabled></td>
        </tr>
        <tr>
            <th>
                <nz-form-label>请假开始时间</nz-form-label>
            </th>
            <td>
                <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" nzPlaceHolder="选择时间" [(ngModel)]="startTime">
                </nz-date-picker>
            </td>
        </tr>
        <tr>
            <th>
                <nz-form-label>请假结束时间</nz-form-label>
            </th>
            <td>
                <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" nzPlaceHolder="选择时间" [(ngModel)]="endTime">
                </nz-date-picker>
            </td>
        </tr>
        <tr>
            <th>
                <nz-form-label>请假天数</nz-form-label>
            </th>
            <td>
                <nz-input-number [nzMin]="0" [nzMax]="10" [nzStep]="0.1" [nzPlaceHolder]="'Digital'"
                    [(ngModel)]="leave.day"></nz-input-number>
            </td>
        </tr>
        <tr>
            <th>
                <nz-form-label>导员</nz-form-label>
            </th>
            <td><input nz-input placeholder="导员" [(ngModel)]="leave.guideTea"></td>
        </tr>
        <tr>
            <th>
                <nz-form-label>代课老师</nz-form-label>
            </th>
            <td><textarea style="width: 90%" rows="2" nz-input [(ngModel)]="leave. courTea"></textarea></td>
        </tr>
        <tr>
            <th>
                <nz-form-label>请假原因</nz-form-label>
            </th>
            <td><textarea style="width: 90%" rows="2" nz-input [(ngModel)]="leave.reason"></textarea></td>
        </tr>
    </table>
</nz-modal>