<!-- <app-header></app-header> -->
<div class="attendance-stu-show" *ngIf="type == 'student'">
    <div class="stu-record">
        <h4>出勤记录 <button nz-button nzType="primary" (click)="getCheck()" id="check">签到按钮</button></h4>
        <table>
            <thead style="background: #eee;">
                <tr height="70">
                    <th width="120" rowspan="2">序号</th>
                    <th rowspan="2">课程名称</th>
                    <th colspan="5">星期</th>
                </tr>
                <tr height="50">
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of weekAttend; index as i;">
                    <td>{{i+1}}</td>
                    <td>{{item.course}}</td>
                    <td *ngIf="item.Mon == 0" style="color: red;">{{item.Mon}}</td>
                    <td *ngIf="item.Mon == 1" style="color: #0AA679;">{{item.Mon}}</td>
                    <td *ngIf="item.Mon == 2">{{item.Mon}}</td>
                    <td *ngIf="item.Tue == 0" style="color: red;">{{item.Tue}}</td>
                    <td *ngIf="item.Tue == 1" style="color: #0AA679;">{{item.Tue}}</td>
                    <td *ngIf="item.Tue == 2">{{item.Tue}}</td>
                    <td *ngIf="item.Wed == 0" style="color: red;">{{item.Wed}}</td>
                    <td *ngIf="item.Wed == 1" style="color: #0AA679;">{{item.Wed}}</td>
                    <td *ngIf="item.Wed == 2">{{item.Wed}}</td>
                    <td *ngIf="item.Thue == 0" style="color: red;">{{item.Thue}}</td>
                    <td *ngIf="item.Thue == 1" style="color: #0AA679;">{{item.Thue}}</td>
                    <td *ngIf="item.Thue == 2">{{item.Thue}}</td>
                    <td *ngIf="item.Fri == 0" style="color: red;">{{item.Fri}}</td>
                    <td *ngIf="item.Fri == 1" style="color: #0AA679;">{{item.Fri}}</td>
                    <td *ngIf="item.Fri == 2">{{item.Fri}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="stu-statistic">
        <div [ngStyle]="{ width: '300px', border: '1px solid #d9d9d9', borderRadius: '4px' }">
            <nz-calendar nzCard (nzValueChange)="onValueChange($event)" (nzModeChange)="onModeChange($event)">
            </nz-calendar>
        </div>
    </div>
</div>

<div style="margin: 0 auto; width: 75%;" *ngIf="type == 'teacher'">
    <div class="stu-record" *ngIf="type == 'teacher'">
        <h4>出勤记录</h4>
        <div class="attend-record">
            <div class="record-from">
                <nz-form-item nzFlex>
                    <nz-form-label>选择班级</nz-form-label>
                    <nz-select style="width: 40%" nzShowSearch nzAllowClear [(ngModel)]="classHome"
                        nzPlaceHolder="请选择班级">
                        <nz-option *ngFor="let item of selectClass" nzLabel="{{item.teaClass}}"
                            nzValue="{{item.teaClass}}"></nz-option>
                    </nz-select>
                </nz-form-item>
                <!-- <nz-form-item nzFlex>
                <nz-form-label>选择学生</nz-form-label>
                <nz-select style="width: 60%" (click)="getChange()" nzShowSearch nzAllowClear id="selectClass" nzPlaceHolder="请选择学生" [(ngModel)]="studentHome">
                  <nz-option *ngFor="let item of selectStudent" nzLabel="{{item.name}}" nzValue="{{item.studentID}}"></nz-option>
                </nz-select>
              </nz-form-item> -->
                <nz-form-item nzFlex>
                    <nz-form-label>选择日期</nz-form-label>
                    <nz-date-picker [(ngModel)]="datePicker" nzPlaceHolder="请选择日期"></nz-date-picker>
                </nz-form-item>
                <nz-form-item nzFlex *ngIf="teacherAttribute == 'teacher'">
                    <nz-form-label>选择课程</nz-form-label>
                    <nz-select style="width: 40%" nzShowSearch nzAllowClear nzPlaceHolder="请选择课程"
                        [(ngModel)]="courseHome">
                        <nz-option *ngFor="let item of selectCourse" nzLabel="{{item.value}}" nzValue="{{item.key}}">
                        </nz-option>
                    </nz-select>
                </nz-form-item>
            </div>
            <button nz-button nzType="primary" (click)="selectAttendance()"><i nz-icon type="search"
                    theme="outline"></i>查询结果</button>
        </div>
        <table>
            <thead>
                <tr style="height: 45px; line-height:45px; background:#eee;">
                    <th width="70" rowspan="2">序号</th>
                    <th width="120" rowspan="2">学号</th>
                    <th width="100" rowspan="2">姓名</th>
                    <th colspan="5">星期</th>
                </tr>
                <tr style="height: 50px; line-height:50px; background:#eee;">
                    <th width="100">星期一</th>
                    <th width="100">星期二</th>
                    <th width="100">星期三</th>
                    <th width="100">星期四</th>
                    <th width="100">星期五</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of weekAttend; index as i;">
                    <td>{{i+1}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td *ngIf="item.Mon == '0'" style="color: red">{{item.Mon}}</td>
                    <td *ngIf="item.Mon == '1'">{{item.Mon}}</td>
                    <td *ngIf="item.Mon == '2'" style="color: #0AA679">{{item.Mon}}</td>
                    <td *ngIf="item.Tue == '0'" style="color: red">{{item.Tue}}</td>
                    <td *ngIf="item.Tue == '1'">{{item.Tue}}</td>
                    <td *ngIf="item.Tue == '2'" style="color: #0AA679">{{item.Tue}}</td>
                    <td *ngIf="item.Wed == '0'" style="color: red">{{item.Wed}}</td>
                    <td *ngIf="item.Wed == '1'">{{item.Wed}}</td>
                    <td *ngIf="item.Wed == '2'" style="color: #0AA679">{{item.Wed}}</td>
                    <td *ngIf="item.Thue == '0'" style="color: red">{{item.Thue}}</td>
                    <td *ngIf="item.Thue == '1'">{{item.Thue}}</td>
                    <td *ngIf="item.Thue == '2'" style="color: #0AA679">{{item.Thue}}</td>
                    <td *ngIf="item.Fri == '0'" style="color: red">{{item.Fri}}</td>
                    <td *ngIf="item.Fri == '1'">{{item.Fri}}</td>
                    <td *ngIf="item.Fri == '2'" style="color: #0AA679">{{item.Fri}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>